@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,300i,400,400i,600,600i,700&display=swap");

* {
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.btn-primary{
  background-color: #2F9640 !important;
  color: white !important;
}

.card {
  color: white !important;
  background-color: #113B72 !important;
}

.spacing-top-hero{
  margin-top: 3rem;
  height: 300px;
}

.spacing-top-feaurtes{
  margin-top: 7rem;
}

.center {
  margin: 0 auto !important;
}

.feaurtes-content{
  background-color: #11C52E !important;
  color: black !important;
  width: 550px;
}

.list-item-color{
  background-color: #11C52E !important;
  color: #000000 !important;
  border: none !important;
}

.login{
  height: 350px;
}

.link-active{
  color: #1877F2 !important;
}

.react-datepicker-wrapper{
  display: block!important;
}

.recipe {
  width: 30rem !important;
  margin: 3rem !important;
  display: flex !important;
  flex-direction: column !important;
  background-color: #d3d3d3 !important;
  padding: 2rem !important;
  position: relative !important;
  border-radius: 0.5rem !important;
  box-shadow: 2rem 3rem 5rem #aaa !important;
}

.recipe h2 {
  background-color: rgba(161, 161, 161, 0.7) !important;
  border-radius: 0.5rem !important;
  padding: 0.3rem 0.5rem !important;
  position: absolute !important;
  top: 2.5rem !important;
  left: 2.5rem !important;
  right: 2.5rem !important;
  font-size: 2.5rem !important;
  font-weight: 400 !important;
  text-shadow: 0 0.5rem 0.5rem #555 !important;
  color: rgb(17, 16, 16) !important;
}

.App {
  display: flex !important;
  flex-direction: column !important;
  align-items: center !important;
}

.search-form {
  width: 60rem !important;
  height: 10rem !important;
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  background-color: #d3d3d3 !important;
  border-radius: 0.5rem !important;
  margin-bottom: 5rem !important;
  box-shadow: 1rem 2rem 5rem #aaa !important;
  position: relative !important;
}

.alert {
  position: absolute !important;
  top: -3rem !important;
  left: 0 !important;
  background-color: rgb(233, 72, 72) !important;
  width: calc(100% - 0.4rem) !important;
  border-radius: 0.5rem !important;
  padding: 0.2rem !important;
}

.alert h3 {
  font-size: 1.8rem !important;
  color: #fff !important;
  font-weight: 400 !important;
  text-transform: uppercase !important;
  text-align: center !important;
}

.search-form input {
  font-size: 1.6rem !important;
  border: none !important;
  border-bottom: 0.1rem solid #ccc !important;
  margin: 0 0.5rem !important;
  border-radius: 0.5rem !important;
  height: 3rem !important;
}

.search-form input[type="text"] {
  padding: 0 0.5rem !important;
  width: 60% !important;
  color: #555 !important;
}

.search-form input[type="submit"] {
  width: 35% !important;
  text-transform: uppercase !important;
  background-color: #2F9640 !important;
  color: #fff !important;
}

.recipes {
  width: 90% !important;
  display: flex !important;
  align-items: center !important;
  flex-wrap: wrap !important;
  justify-content: center !important;
  align-items: flex-start !important;
}

.recipe img {
  border-radius: 0.5rem !important;
  object-fit: cover !important;
}

.recipe a {
  font-size: 1.8rem !important;
  color: #962f45 !important;
}

.recipe button {
  font-size: 2rem !important;
  text-transform: uppercase !important;
  color: #fff !important;
  background-color: #2F9640 !important;
  border: none !important;
  border-radius: 0.5rem !important;
  height: 3rem !important;
}


.footer{
  display: flex;
  flex-direction: column;
  border: 3px solid #4CAF50;
  background-color: rgb(20, 20, 18);
  width: 100%;
  bottom: 0;
  position: fixed;
  left: 0;

}

.ingredient-list {
  margin-top: 1rem;
  background-color: #f0f0f0;
  border-radius: 0.5rem;
  padding: 0.5rem;
}

.ingredient-list li {
  margin: 0.5rem 0;
}

.ingredient-text {
  font-size: 1.5rem;
  color: #888;
}

.ingredient-weight {
  color: #40b48e;
  font-size: 1.3rem;
}

.menu {
  margin-bottom: 20px;
  text-align: center;
  font-size: 20px;


}
.menu a {
  color: rgba(255, 255, 255, 0.6);
  margin: 0 10px;
  text-transform: uppercase;
  letter-spacing: 1px; }


.social-container {

  text-align: center;

}
a.social {
  margin: 0 1rem;
  transition: transform 250ms;
  display: inline-block;
}

a.youtube {
  color: #eb3223;
}

a.facebook {
  color: #4968ad;
}

a.twitter {
  color: #49a1eb;
}

a.instagram {
  color: black;
}

.spacing-bottom{
  margin-bottom: 12rem;
}